*.whl
*.tar.gz
*.pyc
__pycache__/
.pytest_cache
/venv*
/.venv*
/wheeldir
/.idea
build
dist
.wheeldir
/req_compile.egg-info
/bazel-*
user.bazelrc
/.github/ci.bazelrc
/private/examples/dep_with_dup_extras/bazel-*
/private/examples/multiplatform_py_test/bazel-*

# Ignore the module lock for now, since the sdist repo rules incorrectly record the calling
# platform's Python intepreter as the _only_ interpreter in the lock.
MODULE.bazel.lock
