*.whl
*.tar.gz
*.pyc
.pytest_cache
/venv*
/.venv*
/wheeldir
/.idea
/.vscode
build
dist
.wheeldir
/req_compile.egg-info
bazel-*
user.bazelrc
/.github/ci.bazelrc
/private/examples/multiplatform_py_test/bazel-*

# Ignore the module lock for now, since the sdist repo rules incorrectly record the calling
# platform's Python intepreter as the _only_ interprete in the lock.
MODULE.bazel.lock
