appdirs==1.4.4
    # via -r requirements.in
certifi==2023.7.22
    # via requests
charset-normalizer==3.2.0
    # via requests
idna==3.4
    # via requests
overrides==7.4.0
    # via -r requirements.in
packaging==23.1
    # via -r requirements.in
requests[security]==2.31.0
    # via -r requirements.in
toml==0.10.2
    # via -r requirements.in
typing-extensions==4.7.1
    # via -r requirements.in
urllib3==2.0.7
    # via requests
wheel==0.41.2
    # via -r requirements.in
