pytest
pytest-mock
responses
pylint
isort
mypy
black
six  # needed by tests/source-packages/extern-importer-1.0/setup.py fixture

# Type stubs for mypy
types-toml
types-setuptools
types-requests
types-appdirs
